<!--The content below is only a placeholder and can be replaced.-->
<p>Bacon ipsum dolor amet ribeye ham corned beef ground round shoulder. Beef ham meatloaf tongue landjaeger kielbasa picanha
    frankfurter turducken cupim shankle. Strip steak boudin sausage, bresaola buffalo meatloaf beef ribs pastrami pork belly
    chicken jerky drumstick turducken. Salami turkey kielbasa porchetta. Swine capicola kielbasa, t-bone venison pastrami
    shoulder leberkas drumstick ball tip shank filet mignon short ribs. Sausage cow landjaeger beef ribs alcatra pancetta
    boudin. Leberkas sirloin rump, tongue ball tip chicken jerky doner pancetta shank. Andouille sausage chuck pastrami shankle
    meatloaf drumstick leberkas short loin brisket salami. Porchetta pastrami salami beef ribs flank jowl short ribs. Venison
    filet mignon ground round cupim jowl shankle turkey andouille swine turducken corned beef. Chuck chicken pork chop pork
    belly salami. Capicola pork chop ham corned beef tongue andouille strip steak ham hock buffalo. Corned beef kevin filet
    mignon ball tip drumstick pork loin shankle buffalo picanha tongue salami chicken short loin. Jerky biltong meatloaf,
    shankle leberkas chuck bresaola fatback picanha ground round.</p>

<button (click)="openModal()">Open Modal</button>
<yoo-modal-controller></yoo-modal-controller>