@import "../../styles/_variables.scss";

:host {
    .container {
        display: inline-flex;
        justify-content: center;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        max-width: 15rem;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid cssvar(grey-20);
        &:hover {
            box-shadow: $button-shadow;
            transform: translateY(-2px);
            background: cssvar(grey-05);
        }
        &:active,
        &:focus {
            outline: 0 !important;
        }
        &.disabled {
            pointer-events: none;
            opacity: 0.4;
        }
        .icon {
            font-size: 1rem;
            padding-right: 1rem;
            padding-left: 0.5rem;
        }
        .value {
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
            img {
                width: 1rem;
            }
        }
    }
}

:host(.round) {
    .container {
        border-radius: 2rem;
    }
}

:host(.block) {
    .container {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

:host(.icon-only) {
    .container {
        width: 2.625rem;
        .icon {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
}

:host(.small) {
    .container {
        padding: 0.375rem 1rem;
        .value {
            font-size: 0.75rem;
            line-height: 1.5;
            text-align: center;
        }
    }
}

:host(.accent) {
    .container {
        background: cssvar(accent);
        border: 1px solid cssvar(accent);
        &:hover {
            background: cssvar(accent-110);
        }
        &:active {
            background: cssvar(accent-120);
        }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.stable) {
    .container {
        background: cssvar(grey-10);
        border: 1px solid cssvar(grey-20);
        &:hover {
            background: cssvar(grey-20);
        }
        &:active {
            background: cssvar(grey-40);
        }
        .value {
            color: cssvar(grey-100);
        }
    }
}

:host(.link) {
    .container {
        background: cssvar(transparent);
        border: 1px solid cssvar(transparent);
        &:hover {
            background: cssvar(accent-05);
        }
        &:active {
            background: cssvar(accent-10);
        }
        .value {
            color: cssvar(accent);
            fill: cssvar(accent);
        }
    }
}

:host(.link-transparent) {
    .container {
        background: cssvar(transparent);
        border: 1px solid cssvar(transparent);
        color: cssvar(grey-40);
        fill: cssvar(grey-40);
        &:hover {
            color: cssvar(accent-110);
            background: cssvar(transparent);
            box-shadow: none;
            transform: translateY(0px);
        }
        &:active {
            background: cssvar(transparent);
            color: cssvar(accent-120);
        }
    }
}

:host(.danger) {
    .container {
        background: cssvar(danger);
        border: 1px solid cssvar(danger);
        &:hover {
            background: cssvar(danger-110);
        }
        &:active {
            background: cssvar(danger-120);
        }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.success) {
    .container {
        background: cssvar(success);
        border: 1px solid cssvar(success);
        &:hover {
            background: cssvar(success-110);
        }
        &:active {
            background: cssvar(success-120);
        }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.info) {
    .container {
        background: cssvar(info);
        border: 1px solid cssvar(info);
        &:hover {
            background: cssvar(info-110);
        }
        &:active {
            background: cssvar(info-120);
        }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.gradient-accent) {
    .container {
        border: 1px solid cssvar(accent);
        background: cssvar(gradient-accent); // &:hover {
        //     background: cssvar(gradient-accent-110);
        // }
        // &:active {
        //     background: cssvar(gradient-accent-120);
        // }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.gradient-info) {
    .container {
        border: 1px solid cssvar(info);
        background: cssvar(gradient-info); // &:hover {
        //     background: cssvar(gradient-info-110);
        // }
        // &:active {
        //     background: cssvar(gradient-info-120);
        // }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.gradient-grey) {
    .container {
        border: 1px solid cssvar(grey);
        background: cssvar(gradient-grey); // &:hover {
        //     background: cssvar(gradient-grey-110);
        // }
        // &:active {
        //     background: cssvar(gradient-grey-120);
        // }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.gradient-danger) {
    .container {
        border: 1px solid cssvar(danger);
        background: cssvar(gradient-danger); // &:hover {
        //     background: cssvar(gradient-danger-110);
        // }
        // &:active {
        //     background: cssvar(gradient-danger-120);
        // }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.gradient-warning) {
    .container {
        border: 1px solid cssvar(warning);
        background: cssvar(gradient-warning); // &:hover {
        //     background: cssvar(gradient-warning-110);
        // }
        // &:active {
        //     background: cssvar(gradient-warning-120);
        // }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}

:host(.gradient-success) {
    .container {
        border: 1px solid cssvar(success);
        background: cssvar(gradient-success); // &:hover {
        //     background: cssvar(gradient-success-110);
        // }
        // &:active {
        //     background: cssvar(gradient-success-120);
        // }
        .value {
            color: cssvar(light);
            fill: cssvar(light);
        }
    }
}